<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="corit.asicompras" android:installLocation="auto" android:versionCode="14" android:versionName="1.13">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application android:label="Así Compras" android:icon="@drawable/acnaranja27oct152">
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
	</application>
</manifest>